<h1>
  Edit coach invitation #<%= @coach_invitation.id %>
</h1>

<hr>

<form action="/update_coach_invitation/<%= @coach_invitation.id %>" method="post">

  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <%= select_tag(:coach_id, options_from_collection_for_select(User.all, :id, :email, @coach_invitation.coach_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="plan_id">
      Plan
    </label>

    <%= select_tag(:plan_id, options_from_collection_for_select(Plan.all, :id, :description, @coach_invitation.plan_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update coach invitation
  </button>
</form>

<hr>

<a href="/coach_invitations">
  Go back
</a>
