<% if @coach_invitation.present? %>
  <% if @coach_invitation.errors.any? %>
    <% @coach_invitation.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new coach invitation
</h1>


<hr>

<form action="/create_coach_invitation" method="post">

  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <%= select_tag(:coach_id, options_from_collection_for_select(User.all, :id, :email, @coach_invitation.coach_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="plan_id">
      Plan
    </label>

    <%= select_tag(:plan_id, options_from_collection_for_select(Plan.all, :id, :description, @coach_invitation.plan_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create coach invitation
  </button>
</form>

<hr>

<a href="/coach_invitations">
  Go back
</a>
