<form action="/create_coach_invitation_from_plan" method="post">

  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <%= select_tag(:coach_id, options_from_collection_for_select(User.all, :id, :email, @coach_invitation.coach_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="plan_id" value="<%= @plan.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create coach invitation
  </button>
</form>
