<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Coaches

    <a data-toggle="collapse" href="#plan_coaches_new_form">
      Add coach invitation
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @plan.coaches.each do |coach_invitation| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/coach_invitations/<%= coach_invitation.id %>">
          <%= coach_invitation.coach_id %>
        </a>

        <a href="/delete_coach_invitation_from_plan/<%= coach_invitation.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="plan_coaches_new_form">
        <%= render partial: "plan_templates/plan_coaches_new_form" %>
      </div>
    </div>

  </ul>
</div>
