<!-- Form plan_comment start -->
<form action="/create_plan_comment_from_plan" method="post">
<!-- Form plan_comment end -->

  <!-- Label and input for comment start -->
  <div class="form-group">
    <label for="comment">
      Comment
    </label>

    <!-- Input for comment start -->
    <textarea id="comment" name="comment" class="form-control" rows="3"><%= @plan_comment.comment %></textarea>
    <!-- Input for comment end -->
  </div>
  <!-- Label and input for comment end -->

  <!-- Label and input for author_id start -->
  <div class="form-group">
    <label for="author_id">
      Author
    </label>

    <!-- Input for author_id start -->
    <input type="text" id="author_id" name="author_id" class="form-control" value="<%= @plan_comment.author_id %>">
    <!-- Input for author_id end -->
  </div>
  <!-- Label and input for author_id end -->

  <!-- Label and input for plan_id start -->
  <!-- Input for plan_id start -->
  <input type="hidden" name="plan_id" value="<%= @plan.id %>">
  <!-- Input for plan_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create plan comment
  </button>
</form>
