<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Plan Comments

    <a data-toggle="collapse" href="#plan_plan_comments_new_form">
      Add plan comment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @plan.plan_comments.each do |plan_comment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/plan_comments/<%= plan_comment.id %>">
          <%= plan_comment.comment %>
        </a>

        <a href="/delete_plan_comment_from_plan/<%= plan_comment.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="plan_plan_comments_new_form">
        <%= render partial: "plan_templates/plan_plan_comments_new_form" %>
      </div>
    </div>

  </ul>
</div>
