<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Goal Comments

    <a data-toggle="collapse" href="#goal_goal_comments_new_form">
      Add goal comment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @goal.goal_comments.each do |goal_comment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/goal_comments/<%= goal_comment.id %>">
          <%= goal_comment.comment %>
        </a>

        <a href="/delete_goal_comment_from_goal/<%= goal_comment.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="goal_goal_comments_new_form">
        <%= render partial: "goal_templates/goal_goal_comments_new_form" %>
      </div>
    </div>

  </ul>
</div>
