<h1>
  Edit goal #<%= @goal.id %>
</h1>

<hr>

<!-- Form goal start -->
<form action="/update_goal/<%= @goal.id %>" method="post">
<!-- Form goal end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <textarea id="description" name="description" class="form-control" rows="3"><%= @goal.description %></textarea>
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for plan_id start -->
  <div class="form-group">
    <label for="plan_id">
      Plan
    </label>

    <!-- Input for plan_id start -->
    <%= select_tag(:plan_id, options_from_collection_for_select(Plan.all, :id, :description, @goal.plan_id), :class => "form-control") %>
    <!-- Input for plan_id end -->
  </div>
  <!-- Label and input for plan_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update goal
  </button>
</form>

<hr>

<a href="/goals">
  Go back
</a>
